.header {
    grid-area: h;
    background-color: #3792CB;

    display: grid;
    grid-template-areas:
            ". l li .";
    grid-template-columns: 2fr 9fr 3fr 2fr;
    grid-gap: 10px;
    align-items: center;
}

.logo {
    grid-area: l;
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 10px;
}

.login {
    grid-area: li;
    margin-left: auto;
    display: inline-block;
    color: white;
}

.loginLink {
    text-decoration: none;
    color: white;
}
